name: Draft release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Fetch version from build.zig.zon
        id: fetch_version
        run: |
          echo version=$(python ci/get_version.py) >> $GITHUB_OUTPUT

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.fetch_version.outputs.version }}
          draft: true
          generate_release_notes: true
